node_modules
dist
build
out
coverage
logs
.pnp
.next
.nyc_output
.cache
.parcel-cache
.rollup.cache
.idea
.vscode
.nx

*.tsbuildinfo
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.log
*.vsix
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
package-lock.json
.DS_Store
.env
.env.*
.env.*.local
.eslintcache
.npm
.pnp.js
**/*.parser.js